= render partial: "top_bar"

%p#notice= notice

%h1= @contact.name
%hr

.row
  .col-md-6
    %p
      %b Ph:
      = @contact.ph
      \|
      %b Email:
      =mail_to @contact.email
    %p
      %b Address:
      %br
      = @contact.address
      \,
      = @contact.city
      \-
      = @contact.zip
      (
      = @contact.country
      )
    %p
      %b Roles
      %ul
        - if @contact.business
          %li Business
        - if @contact.customer
          %li Customer
        - if @contact.supplier
          %li Supplier
        - if @contact.employee
          %li Employee
  .col-md-6
    %b
      %u In brief
    - if @records
      %ul
        - FinanceRecord.statuses.each do |key, _|
          %li
            = key.gsub(/_/, " ").capitalize
            \:
            = link_to @records.send(key).sum(:amount),  company_contact_path(@company, @contact,
              book_id: @book.id, t: key.to_s)


= link_to 'Edit', edit_company_contact_path(@company, @contact), class: "btn btn-warning"
= link_to "Delete", [@company, @contact], class: "btn btn-danger", method: :delete,
  confirm: "Really want to delete contact"

%h2 Records

= form_tag(company_contact_path(@company, @contact), method: :get) do
  = select_tag :book_id, options_from_collection_for_select(@contact.books.order(:name).distinct, :id, :name, params[:book_id])
  = submit_tag "Get Records"

- if @records
  %table.table
    %tr
      %th Sno
      %th Time
      %th{width: "40%"} Description
      %th Amount
      %th State
      %th Actions
    = render @records

  = paginate @records, :theme => 'twitter-bootstrap-3'
