= form_for([@company, @book], html:{class: "form-horizontal"}) do |f|
  - if @book.errors.any?
    #error_explanation
      %h2= "#{pluralize(@book.errors.count, "error")} prohibited this book from being saved:"
      %ul
        - @book.errors.full_messages.each do |msg|
          %li= msg

  .field.form-group
    = f.label :name, class: "col-sm-2 control-label"
    .col-sm-6
      = f.text_field :name, class: "form-control"
  .field.form-group
    = f.label :currency, class: "col-sm-2 control-label"
    .col-sm-6
      = f.currency_select :currency, class: "form-control"
  .field.form-group
    = f.label :description, class: "col-sm-2 control-label"
    .col-sm-6
      = f.text_area :description, class: "form-control"
   
  .actions.col-sm-offset-2.col-sm-6
    = f.submit 'Save', class: "btn btn-default"
