= form_for([@company, @book, @record], html:{class: "form-horizontal"}) do |f|
  - if @record.errors.any?
    #error_explanation
      %h2= "#{pluralize(@record.errors.count, "error")} prohibited this record from being saved:"
      %ul
        - @record.errors.full_messages.each do |msg|
          %li= msg

  .field.form-group
    = f.label :amount, class: "col-sm-2 control-label"
    .col-sm-6
      = f.text_field :amount, class: "form-control"
  .field.form-group
    = f.label :time, class: "col-sm-2 control-label"
    .col-sm-6
      = f.datetime_select :time, class: "form-control"
  .field.form-group
    = f.label :description, class: "col-sm-2 control-label"
    .col-sm-6
      = f.text_area :description, class: "form-control"
  .field.form-group
    = f.label :status, class: "col-sm-2 control-label"
    .col-sm-6
      = f.select :status, record_status_options, class: "form-control"
  .actions.col-sm-offset-2.col-sm-6
    = f.submit 'Save', class: "btn btn-default"
