.panel
  = render partial: 'top_bar'
  .panel-footer
    %ul.tranx-brief
      - FinanceRecord.statuses.keys.each do |key|
        %li= money_link @records, @book, key, params[:s]
      %li= "Income: #{@book.currency} #{@income}"
      %li= "Balance: #{@book.currency} #{@balance}"

%table.table
  %tr
    %th Sno
    %th Time
    %th{width: "40%"} Description
    %th Amount
    %th State
    %th Actions
  = render @records_page

= paginate @records_page, :theme => 'twitter-bootstrap-3'

= render partial: "advanced_search"
