.align-left
  text-align: left
  
ul.side-panel
  margin: 0px
  padding: 0px
  list-style-type: none
  li
    display: block
    margin-top: 10px

footer
  text-align: center
  ul
    margin: 0px
    padding: 0px
    li
      display: inline
      margin-right: 8px
